

#mycontainer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
     gap: 30px; 
     font-size: 20px;
     text-align: center;
}

#mycontainer2 img{
    height: 60%;
    width: 80%;
   
}
#mycontainer2
 {
    height: 600px;
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
 }